<h1 style="color:coral; text-align: center;">User Details</h1>
<form [formGroup]="userdetails" class="userdetailsform">
  <div class="form-group row">
  <div class="form-group col-md-4">
  <mat-form-field>
    <input matInput placeholder="First Name" formControlName="firstName" autocomplete="off">
    <mat-error *ngIf="userdetails.get('firstName').hasError('required')">
      First Name is Required!
    </mat-error>
  </mat-form-field>
  </div>

  <div class="form-group col-md-4">
  <mat-form-field>
    <input matInput placeholder="Last Name" formControlName="lastName" autocomplete="off">
    <mat-error *ngIf="userdetails.get('lastName').hasError('required')">
      Last Name is Required!
    </mat-error>
  </mat-form-field>
  </div>

  <div class="form-group col-md-4">
  <mat-form-field>
    <input matInput placeholder="Middle Name" formControlName="middleName" autocomplete="off">
    <mat-error *ngIf="userdetails.get('middleName').hasError('required')">
      Middle Name is Required!
    </mat-error>
  </mat-form-field>
  </div>
  </div>

  <div class="form-group row">
  <div class="form-group col-md-3">
  <mat-form-field>
    <textarea matInput placeholder="Address" formControlName="doorNo" autocomplete="off"></textarea>
    <mat-error *ngIf="userdetails.get('doorNo').hasError('required')">
      Address is Required!
    </mat-error>
  </mat-form-field>
  </div>


  <div class="form-group col-md-3">
    <mat-form-field>
    <mat-select formControlName="country" placeholder="Select Country">
      <mat-option *ngFor="let country of address.Countries" [value]="country.CountryName">
        {{country.CountryName}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="userdetails.get('stateName').hasError('required')">
      Country Name is Required!
    </mat-error>
  </mat-form-field>
  </div>

  <div class="form-group col-md-3">
  <mat-form-field>
    <mat-select formControlName="stateName" placeholder="Select State">
      <mat-option *ngFor="let state of statesFiltered" [value]="state.StateName">
        {{state.StateName}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="userdetails.get('stateName').hasError('required')">
      State Name is Required!
    </mat-error>
  </mat-form-field>
  </div>

  <div class="form-group col-md-3">
  <mat-form-field>
    <input type matInput placeholder="Zipcode" formControlName="zipcode" autocomplete="off">
    <mat-error *ngIf="userdetails.get('zipcode').hasError('required')">
      Zipcode is Required!
    </mat-error>
    <mat-error *ngIf="userdetails.get('zipcode').hasError('pattern')">
      Enter Valid Zipcode!
    </mat-error>
  </mat-form-field>
  </div>
  </div>

  <div class="form-group row">
  <div class="form-group col-md-3">
  <mat-form-field>
    <input type = "tel" matInput placeholder="Phone Number" formControlName="phonenum" autocomplete="off">
    <mat-error *ngIf="userdetails.get('phonenum').hasError('required')">
      Phone Number is Required!
    </mat-error>
    <mat-error *ngIf="userdetails.get('phonenum').hasError('pattern')">
      Enter Valid Phone Number with CountryCode!
    </mat-error>
  </mat-form-field>
  </div>

  <div class="form-group col-md-3">
  <mat-form-field class="row">
    <input type = "email" matInput placeholder="Email" formControlName="emailid" autocomplete="off">
    <mat-error *ngIf="userdetails.get('emailid').hasError('required')">
      EmailId is Required!
    </mat-error>
    <mat-error *ngIf="userdetails.get('emailid').hasError('pattern')">
      Enter Valid Emailid!
    </mat-error>
  </mat-form-field>
  </div>
  </div>

  <div class="form-group row">
  <div class="form-group col-md-3">
  <mat-form-field class="row">
    <input type = "number" matInput placeholder="Height(Ft/inches)" formControlName="height">
    <mat-error *ngIf="userdetails.get('height').hasError('required')">
      Height is Required!
    </mat-error>
  </mat-form-field>
  </div>

  <div class="form-group col-md-3">
  <mat-form-field>
    <input type = "number" matInput placeholder="Weight(kgs)" formControlName="weight">
    <mat-error *ngIf="userdetails.get('weight').hasError('required')">
      Weight is Required!
    </mat-error>
    <mat-error *ngIf="userdetails.get('weight').hasError('pattern')">
      Enter Valid Weight in kgs
    </mat-error>
  </mat-form-field>
  </div>
  </div>
</form>

<div align="end">
<button class="savebutton" mat-raised-button color="accent" type="submit" [disabled]="!userdetails.valid" (click)="onSaved()">Save</button>
</div>

<div *ngIf="display">
  <h2 style="text-align: center; color:lightslategray">Entered Details</h2>
  <div class="border">
  <p><span class="bold"> First Name:  </span> {{  FirstName}}</p><br>
  <p><span class="bold">Last Name:  </span> {{  LastName}}</p><br>
  <p><span class="bold">Middle Name:  </span>{{  MiddleName}}</p><br>
  <p><span class="bold">Address:  </span>{{  DoorNo}}, <span class="bold">  State:  </span>{{  State}}, <span class="bold">  Country:  </span>{{  Country}}, <span class="bold">  Zipcode:  </span> {{  Zipcode}}</p><br>
  <p><span class="bold">Email:  </span>{{  EmailId}}   <span class="bold">  Phone Number:  </span>{{  Phone}}</p>
  <p><span class="bold">Height:  </span> {{  Height | number}}   <span class="bold">  Weight:  </span>{{   Weight | number}}</p>
  </div>
</div>
